header{
    text-align: center;
}



nav a{
    text-decoration: none;
    font-size: 1.5em;
    margin: 1em;
    display: inline-flex;
    
}

nav a :hover{
    
        
    
}

div #intro{
    display: flex;
    
    margin: 5em;
    

}


